<app-title title="Users" />
<div class="bg-gray-100">
  <div class="max-w-md my-10">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <ul class="divide-y divide-gray-200">
        @for (item of users; track $index) {
        <li class="p-3 flex justify-between items-center user-card">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-md" [src]="item.avatar" alt="Christy">
            <span class="ml-3 font-medium">{{item.first_name}} {{item.last_name}}</span>
          </div>
          <div>
            <a [routerLink]="['/dashboard/user', item.id]" class="text-blue-500 font-medium hover:text-blue-700">
              view
            </a>
          </div>
        </li>
        }@empty {
        <div class="p-4">Cargando...</div>
        }
      </ul>
    </div>
  </div>
</div>